Source: subtitlecomposer
Section: kde
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: Debian KDE Extras Team <pkg-kde-extras@lists.alioth.debian.org>
Uploaders: gogo <trebelnik2@gmail.com>
Build-Depends: debhelper (>= 9), qtbase5-dev, git, cmake, extra-cmake-modules,
 libgstreamer1.0-dev, libgstreamer-plugins-base1.0-dev,  kdelibs5-dev, libkf5xmlgui-dev, kross-dev,
 mpv, libmpv-dev, mplayer, libxine2-dev, libphonon4qt5-dev, libphonon4qt5experimental-dev, libsphinxbase3, libsphinxbase-dev, libpocketsphinx3, libpocketsphinx-dev
Standards-Version: 3.9.4
Homepage: https://github.com/maxrd2/subtitlecomposer
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-kde/kde-extras/subtitlecomposer.git
Vcs-Git: git://anonscm.debian.org/pkg-kde/kde-extras/subtitlecomposer.git

Package: subtitlecomposer
Architecture: any
Depends: kio, pocketsphinx, pocketsphinx-en-us, ${shlibs:Depends}, ${misc:Depends}, ${gstreamer:Depends} 
Suggests: mplayer, mpv, ${xine-x:Depends}
Description: Subtitles editor for KDE
 A text-based subtitles editor for KDE supporting basic operations (text,
 time and style edition), realtime previewing and spell checking. Other
 fancy features are delaying all subtitles in the current subtitle file,
 checking errors or creating translations.
 .
 Different backends (GStreamer, MPlayer, Phonon or xine) can be used to play
 the realtime video preview which helps to synchronize the subtitles.
