[Desktop Entry]
Type=Application
Name=Subtitle Composer
Name[ca]=Subtitle Composer
Name[ca@valencia]=Subtitle Composer
Name[en_GB]=Subtitle Composer
Name[es]=Subtitle Composer
Name[et]=Subtiitrilooja
Name[fi]=Subtitle Composer
Name[fr]=Subtitle Composer
Name[it]=Subtitle Composer
Name[ko]=Subtitle Composer
Name[nl]=Samensteller van ondertitels
Name[pt]=Compositor de Legendas
Name[pt_BR]=Subtitle Composer
Name[sk]=Vytvárač tituliek
Name[sl]=Subtitle Composer
Name[sv]=Textningsskapare
Name[uk]=Редактор субтитрів
Name[x-test]=xxSubtitle Composerxx
Name[zh_TW]=字幕撰寫工具
GenericName=Subtitle Editor
GenericName[ca]=Editor de subtítols
GenericName[ca@valencia]=Editor de subtítols
GenericName[cs]=Editor titulků
GenericName[en_GB]=Subtitle Editor
GenericName[es]=Editor de subtítulos
GenericName[et]=Subtiitriredaktor
GenericName[fi]=Tekstitysmuokkain
GenericName[fr]=Éditeur de sous-titres
GenericName[it]=Editor dei sottotitoli
GenericName[ko]=자막 편집기
GenericName[nl]=Bewerker van ondertitels
GenericName[pt]=Editor de Legendas
GenericName[pt_BR]=Editor de legendas
GenericName[ru]=Редактор субтитров
GenericName[sk]=Editor tituliek
GenericName[sl]=Urejevalnik podnapisov
GenericName[sv]=Textningseditor
GenericName[uk]=Редактор субтитрів
GenericName[x-test]=xxSubtitle Editorxx
GenericName[zh_TW]=字幕編輯工具
Comment=KDE subtitle editor
Comment[ca]=Editor de subtítols per al KDE
Comment[ca@valencia]=Editor de subtítols per al KDE
Comment[cs]=Editor titulků v prostředí KDE
Comment[en_GB]=KDE subtitle editor
Comment[es]=Editor de subtítulos de KDE
Comment[et]=KDE subtiitriredaktor
Comment[fi]=KDE:n tekstitysmuokkain
Comment[fr]=Éditeur de sous-titres de KDE
Comment[it]=Editor dei sottotitoli di KDE
Comment[ko]=KDE 자막 편집기
Comment[nl]=KDE bewerker van ondertitels
Comment[pt]=Editor de legendas do KDE
Comment[pt_BR]=O editor de legendas da KDE
Comment[ru]=Редактор субтитров, разработанный KDE
Comment[sk]=KDE editor tituliek
Comment[sl]=KDE urejevalnik podnapisov
Comment[sv]=KDE textningseditor
Comment[uk]=Редактор субтитрів від KDE
Comment[x-test]=xxKDE subtitle editorxx
Comment[zh_TW]=KDE 字幕編輯器
Icon=subtitlecomposer
Exec=subtitlecomposer %f
MimeType=text/x-ssa;text/x-ass;text/x-microdvd;text/x-mpsub;application/x-subrip;text/x-subviewer;text/x-mplsub;text/x-tmplayer;text/x-tmplayer+;application/x-vobsub;video/mp2t;application/x-matroska;video/x-matroska;video/mp4;
Terminal=false
Categories=Qt;KDE;AudioVideo;
