[Desktop Entry]
Type=Application
Name=Subtitle Composer
Name[ca]=Subtitle Composer
Name[nl]=Samensteller van ondertitels
Name[pt]=Compositor de Legendas
Name[sv]=Textningsskapare
Name[uk]=Редактор субтитрів
Name[x-test]=xxSubtitle Composerxx
GenericName=Subtitle Editor
GenericName[ca]=Editor de subtítols
GenericName[nl]=Bewerker van ondertitels
GenericName[pt]=Editor de Legendas
GenericName[sv]=Textningseditor
GenericName[uk]=Редактор субтитрів
GenericName[x-test]=xxSubtitle Editorxx
Comment=KDE subtitle editor
Comment[ca]=Editor de subtítols per al KDE
Comment[nl]=KDE bewerker van ondertitels
Comment[pt]=Editor de legendas do KDE
Comment[sv]=KDE textningseditor
Comment[uk]=Редактор субтитрів від KDE
Comment[x-test]=xxKDE subtitle editorxx
Icon=subtitlecomposer
Exec=subtitlecomposer %f
MimeType=text/x-ssa;text/x-ass;text/x-microdvd;text/x-mpsub;application/x-subrip;text/x-subviewer;text/x-mplsub;text/x-tmplayer;text/x-tmplayer+;application/x-vobsub;subpicture/x-pgs;video/mp2t;application/x-matroska;video/x-matroska;video/mp4;
Terminal=false
Categories=Qt;KDE;AudioVideo;
